@import 'fonts';
@import 'anim';

@tailwind base;

:root {
  /* Dark Mode Colors */
  --bg: #1a202c;
  --fg: #fafbfc;
}

.light {
  --bg: #fafbfc;
  --fg: #1a202c;
}

.main-container {
  background-color: var(--bg);
}

.heading {
  color: var(--fg);
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
